name: Build and Publish image to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths: 
      - "api/**"
      - "front-end-nextjs/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "api/**"
      - "front-end-nextjs/**"
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch builds)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./api
          push: true
          tags: indra9392698146/devops-qr-code-backend:latest

      - name: Build & push frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./front-end-nextjs
          push: true
          tags: indra9392698146/devops-qr-code-frontend:latest
